---
layout: article-layout.njk
tags:
- article
- essay
- security
- ethics
- biometrics
title: The Ethical Issues of Digital Biometric Systems
---

<h3>
    Q: What are the opportunities brought and ethical issues that arise from the growing use of digital biometric
    systems and electronic identification as means of personal identification?
</h3>

<br>

<br><br>
<h2> Introduction </h2>
<br>
Research undertaken by Douglas (2020) indicates that the use of biometrics has been dated all the way back to 500 BC
in the Babylonian empire on the use of measurable characteristics of a person such as height and weight. In the 1800s,
the use of fingerprints as a form of personal identification was introduced both as a means of identifying criminals and
as a form of signature on contracts. With the rise of technology in the 1900s came the introduction of technology-based
biometric systems, including facial as well speech recognition.
<br><br>
While non-technology based identification systems such as those used in Babylonean times still require personal and, in
some cases, sensitive information about a person, biometric systems involving digital technology work on the basis of
storing this information in a non-physical or digital database, bringing forward a rise of different issues regarding
personal areas such as privacy and anonymity. Pato states

<p class="quote-container">
    “Biometric systems assume and require an intimate relationship
    between people and technologies that collect and record the biological and
    behavioral characteristics of their bodies” (2010, p.85).
</p>
<br>
Thus, when raising issues on the topic and when coming up with solutions, it is important to take into account the root
of the issue as it may not necessarily be due to the human design
of the system, but in many cases, the way in which the compromised technology works itself.
<br><br>
Furthermore, different cultures have different ideologies when it comes to ethics, and so it is inevitably difficult
to design a system in such a way that appeals to the wide number of viewpoints that exist in society, especially with
identification technology and technology in general being a relatively new industry, with many people being
unfamiliar with both its capabilities as well as its risks.
<br><br>
<h3> The different types of biometrics and systems </h3>
<br>
Biometrics comes in many different forms, and so different systems work with different biometrics. The most well
known form is fingerprints, as Al-Daraiseh (2015) mentions the uniqueness of fingerprints in how no two persons will
be identical, as well as how they remain the same throughout the entirety of a person’s life.
<br><br>
This idea about fingerprints having the upperhand when it comes to uniqueness provides the fundamental ground for
the justification of the usage of biometrics in that one cannot replicate a biometric measurement such as a fingerprint
in the way that you can with a series of characters or digits such as a password, making it ideal in terms of security
and fraud prevention.
<br><br>
We can see fingerprints being used in most new smartphones, as well as in schools and
businesses to allow entry to places in place of perhaps a card or pin system.
<br><br>
A reason for such, as Al-Dareish talks about the introduction of touch ID to iPhone in
particular, is the ease of use that comes in using a fingerprint for verification, stating

<p class="quote-container">
    “Fingerprint recognition is fast ... Unlocking the phone doesn’t require
    much attention.” (2015, p.156)
</p>

This goes to show that not only can this form of biometric authentication increase security, but is also more
efficient and convenient for the user. One thing to note is that, although rare, there are cases where an individual may
lose their fingerprint for various reasons such as burns or scars. Then there are more extreme cases where an individual
is missing both arms or hands, such a system would exclude these individuals.
<br><br>
The next common form of biometrics is face recognition, in which the face is analysed and reconstred into a pattern for
a face detection algorithm to process and map.
<br><br>
As Yanuschkevich puts it

<p class="quote-container">
    “...the term “face reconstruction” indicates a class of problems aimed at synthesizing a model of a static face.”
    (2007, p.8).
</p>

<br><br>
The ability to decompose something as complex as a face into what an algorithm can process and give accurate results
from can certainly as Yanuschkevich puts it bring a class of problems.
<br><br>
Bowyer (2004) talks about the issue of how an image must be of high quality for the algorithm to be able to analyse it
and produce accurate results, which may be deterred by factors such as lighting conditions and viewing angle.
<br><br>
Another issue spoken about is the requirement of a threshold for which the processing of the image must run by, and how
a slightly higher or lower threshold can result in too many false positives or negatives respectively. One final point
is that unlike fingerprints, people’s faces will change over time, and thus may be less maintainable and reliable over
long periods of time.
<br><br>
The third most common form of biometrics is voice recognition in which a sample of the individual’s voice is stored as a
template and analysed based on unique vocal attributes, and is rising rapidly in popularity thanks to its ease of use
combined with the improvement in AI that deals with the technology.
<br><br>

<h3>
    The benefits and disadvantages of using an electronic biometric system
</h3>
<br>
As discussed, when it comes to electronic biometric systems, there are many different biometrics and algorithms to
consider. But the key point that stands out with all the different biometric systems in comparison to other forms of
technology put to do similar tasks, in the case of authentication, would be the inability for the verification data to
be obtained or replicated by anyone other than the individual it is tied to.
<br><br>
As an example, Lyon (2008) talks about the use of biometrics in national ID card systems, due to standards issued by the
ICAO for international passport documents as the USA and many other countries felt the need to comply. It seems that,
not only may biometric systems seem to be a favourable option, but that it is slowly becoming a kind of norm for
authentication.
<br><br>
This however may be a problem as the technology is still relatively new and developing. Nonetheless, as for why
biometric systems, even in their current stages, still have the potential to be put to great use, while we still have
yet to see the best of what they can do.
<br><br>
As for how such systems are being put to good use, Lyon further mentions
<br>

<p class="quote-container">
    “...identification using biometrics has featured prominently in attempts to strengthen aviation security but also
    simply to speed up passenger through-put.” (2008, p.500)
</p>

<br><br>
implying that not only may biometric authentication be more secure, but is also more efficient, allowing for faster
authentication, and therefore a better option than more time-consuming methods such as entering passwords or presenting
a certain piece of information or evidence of authenticity.
<br><br>
However, regardless of the improvement in efficiency, biometric technology poses its own issues, of which given it still
being a new technology in comparison to other forms of authentication, Edwards (2014) specifically talks about the issue
of identity theft, and how it can still occur in biometric systems, and about how the hacking of the iPhone through the
biometric sensor shows how biometric technology can still backfire and fail to add security.
<br><br>
Still, electronic biometric authentication systems, as well as technology and the practice of cybersecurity themselves
are still relatively new when it comes to how much further the line of technological improvement extends, and current
flaws that degrade the benefits may eventually be erased, thus there would be little reason to not consider
implementation of such systems.
<br><br>
Nonetheless, when it comes to a comparison with other authentication methods, as they too have their own, and arguably
more, security flaws, biometric authentication may still, in many cases, remain ideal.
<br><br>
Furthermore, in certain cases where perhaps security is not as important, a biometric system may be more ideal or
efficient compared to other authentication methods. A good example of this is illustrated by Das, stating
<br>
<p class="quote-container">
    “ ...corporations and businesses are now mandating the use of complex passwords which are very difficult for the
    end-user to remember.” (2019, p.7).
</p>
<br><br>
When it comes to where high security is required, it is true that in the case of using passwords, the only way to
increase security is in a way that makes it harder for the individual users by using increasingly complex passwords
which can be an inconvenience to remember and input every time. A simple fingerprint or iris scan ensures ease of use,
and also saves companies time having to reset any forgotten passwords.
<br><br>
Another good example of a case where biometric technology is ideal is, as Gates (2011) mentions the use of facial
recognition in programs that rely on the natural interaction between a human and a computer through transparent
interfaces. In this case, facial recognition allows for complex and spontaneous human evaluation, promoting the
development of human-computer interaction based technologies.
<br><br>
Without biometrics, capturing such information would be near impossible, or rather, there is no better technology suited
for the job than that involving biometrics. For this reason, it is important that the development of such technologies
keeps improving to allow for more potentially revolutionary technologies to be born and put to good use.
<br><br>
Nevertheless, there remains the possibility of an even greater technology that can outperform the current digital
biometric systems that we have, but for now we can only look at how well current biometric technologies are developing,
and predict the possible uses for them in the near future, but with so much more to be developed, the possibilities are
endless, given that the technologies are being put to use in more and more places every day.
<br><br>
<h2>
    Digital biometric systems and authentication in global societys
</h2>

<br><br>
With the rapid growth rate of technology comes the increased implementation of technology-based systems, specifically
that of increasing complexity and security in the case of authentication, both on a large scale and in personal use.
<br><br>
One example given by Caldwell, in which she mentions Intel saying how gestures, voice and facial recognition are
becoming more common in mobile devices. This gives us an insight into not only how surrounded we in fact are already by
biometric technology in our daily and personal lives, but also just how much further we still have to go, with the
implication that such authentication methods could become the norm, and possibly one day end up eradicating all other
current authentication forms.
<br><br>
An example in a more economic sense is illustrated by Lyon (2008), in which he mentions Singapore’s investment into
biometrics such as a new biometric passport, as well as about a CitiBank fingerprint authentication system.
<br><br>
This goes to show that in certain countries, biometric systems are being relied on to such an extent that it reaches the
territories of arguably the most valuable sector of all, banks. We can further investigate this by looking at how
particular systems are changing the way certain legal functions operate.
<br><br>
A study conducted by Frowde (2018) discusses how a new fingerprint recognition system is now used at Africa’s border
security, further talking about the adoption of biometric passports, ID cards, and visas in African countries. This
demonstrates a huge leap in trust in such systems, suggesting that as they keep improving, we may see them being used in
more and more places as such.
<br><br>
However, it is also mentioned about how we still are not fully aware of the points of failure that may be present in
such systems, which goes to show that the reliability of biometric systems is not always clear, and in a country like
Africa where they highly favour technology, considering the possible risks, especially in legal situations such as
passing border security, the reliability of biometric technology may often be overlooked.
<br><br>
Nonetheless, it is important to make use of the technology as it currently stands in order to pave the way for greater
demand and future development.
<br><br>
<h2>
    Why an organisation may want to implement an digital biometric system
</h2>
<br><br>
The use of a biometric system is a way to address many permission-based issues within organisations. The first being the
ability for identification to be used as a form of entry permission into both physical and digital areas, such as a
building or individual rooms of a building or computer systems, which can help prevent unauthorised access to certain
locations where tampering with the area could cause inconvenient, costly or even dangerous effects to the business. As
mentioned in by Ross
<br>
<p class="quote-container">
    “Most passwords are so simple, that they can be easily guessed or broken by simple dictionary attacks.” (2006,
    p.125).
</p>
<br><br>
By using biometrics as opposed to other conventional security measures, such as passwords which can be guessed or cards
which can be stolen, biometric data cannot be done in such simple ways.
<br><br>
Nonetheless, with any kind of measure involving data comes the possibility of hackers tampering with or altering the
database such as to add, remove or change permissions, or even corrupt or shut down the whole system itself.
<br><br>
Hence, this issue of data handling in biometrics systems brings forward a wave of issues concerning the security
maintenance of such a system and its data to prevent hackers or those aiming to tamper with it, especially given the
potential value of an individual’s biometric data which can be used for things other than in the system it is tied to.
<br><br>
Also, as those organisations dealing with the technology may, first and foremost, have more money due to the sheer cost
of such a system in comparison to others, but also as they may have chosen to implement it likely due to the presence of
something of significant value which they view as important to keep protected, even if that may be entry to the physical
location itself.
<br><br>
Nevertheless, well-implemented and secured systems with high-end encryption and proper maintenance can surpass any
possible issues in relation to hacking and data theft, thus often being the best system of choice, though it may not
always be worth the extra work and money required to maintain these systems, in which case they may not be ideal.
<br>
<br>
<h2>Securing biometric systems and the use of biometric data maliciously or without permission to track individuals
    and the issue of selling on personal data</h2>
<br>
With the implementation of biometric systems comes the management of, usually, online databases to store the information
for them. As with any online database, data must be stored via digital means, and so to ensure this data cannot be
accessed outside its intended usages, it must be protected either by physical means, digital means or preferably both.
While this would still be the case with other types of authentication systems such as passwords, the biometric
information of a person may be seen as having more value than the like as it can be used for other purposes, meaning
protecting it is of the utmost importance, not only as the information is sensitive but also because of its value to
possible data thieves.
<br><br>
With biometrics involving the use of personal data that can be used to
identify, target and track people, Pato states
<br>
<p class="quote-container">
    “The potentially lifelong association of biometric traits with an individual … may raise social, cultural, and legal
    concerns” (2010, p.115)
</p>
<br><br>
addressing the issue of how such data in the wrong hands means that biometric data is putting people at risk.
<br><br>
First of all, when looking at biometric systems that are in the hands of small organisations that may not have the money
to spend on maximising encryption and security of the biometric data, certain individuals or groups looking to steal
information about individuals may look to organisations operating biometric systems with these low-enforced encryption
policies, and can result in negative consequences for those with their information having being obtained by these
individuals or groups.
<br><br>
Even if data is only being kept for its intended purpose, money may be offered by other organisations wishing to obtain
the data for further selling, hence personal information can spread like wildfire into the hands of perpetrators or
spies.
<br><br>
Ross (2006) outlines the issue behind the owners of illegal copying and sharing of digital media content, to the extent
of earning revenue from doing so, despite the system of only allowing authorised users to access it originally, in turn
causing content owners to lose great sums of money.
<br><br>
With this, even in the cases where the data shared is not being used in a potentially harmful or intrusive way, the
sharing of data is for the most part illegal, and can cost businesses large sums of money, first and foremost for those
that have the data they have obtained distributed which they could have gained money from, and second, those companies
which are sharing or obtaining data illegally, which could be sued for doing so.
<br><br>
Finally, this is of course a legal issue in that the data can easily be shared despite it being against the law.
<br><br>
<h2>Issues with anonymity</h2>
<br><br>
However, even with the huge complications that it can cause, the issue of identity theft particularly is a huge one, and
as Ross (2004) mentions, biometric-based characteristics raise the issue of privacy due to the additional information it
can provide about a person and their background, thus a large reason for why personal data should be protected and not
unknowingly shared is to do with anonymity and the permission for individuals or companies to be in possession of
someone’s personal information.
<br><br>
Even in the case of the data not being shared, while the data may be used for its intended purpose with the system, the
data is still there with the company at easy access to be used for other purposes.
<br><br>
As well as this, certain biometric systems, such as those in workplaces, may involve storing the data for the system
along with the rest of the information of a person despite its only usage being in the biometric system, thus it is easy
to see why no matter the circumstance, it can be hard for this information to be kept private let alone anonymous. It is
important, however, to note that there are ways of encrypting the biometric data so as to make it untraceable to the
individual, at least without high-level hacking of a system.
<br><br>
Also, in many ways, the way a piece of biometric data is stored may be a lot harder to decipher as opposed to a mere
password due to it being far more data and of greater complexity, and in many cases, those attempting to steal
information may not be able to decode biometric data as easily due to the lack of experience as there is no comparable
data format unlike a string of text such as a code or password.
<br><br>
<h2> Maintaining biometric systems </h2>
<br><br>
When it comes to maintaining systems, there is not just the global issue of fixing bugs and ensuring that the system is
working properly and smoothly, but to take into account that, unlike with passwords or other conventional authentication
systems, individuals’ biometrics may change over time. This brings forward the issue of, in certain cases such as
systems dealing with characteristics that may change due to age as Ross mentioned, such as voice, hand geometry and
height, the need to from time-to-time update individuals’ biometric information.
<br><br>
Though this may also be a similar case to passwords in terms of regularly updating them for security purposes, the
process of recording someone’s biometrics can be both costly and time consuming for both the company and the individual.
For small organisations with little money, a biometric authentication system may not be ideal, and the organisation
should instead resort to a more typical system such as passwords or swipe cards depending on the usage. However even in
the case of large organisations, for a large number of people in the database, depending on the system, or for any
number in general, these systems are not perfect and can produce inaccurate results.
<br><br>
With the technology being relatively new compared to perhaps its authentication counterparts, another issue that arises
when it comes to maintaining these systems is the number of specialists available and the cost of employing them when it
comes to an organisation looking for people to first of all install the suitable system, but also to maintain it. This
can often be quite expensive for companies, and even in the case where they are able to afford maintenance, there is no
guarantee that they will be perfect at their job, as just like with any digital system, there will without a doubt be
issues that arise.
<br><br>
A good example of this laid out by Zureik in the use of surveillance cameras at Heathrow airport, pointing out that even
with a 99.90% success rate, false positives still occur and thus the proposed idea of biometric surveillance to be used
as a way to increase safety and security is not entirely perfect, and may in fact backfire due to simply the level at
which the accuracy of the technology is at, at least for the time being.
<br><br>
<h2>Accuracy of biometric systems and their algorithms</h2>
<br><br>
For many reasons, a digital biometric system may fail or not work well or as intended. Nonetheless, according to
Vallance, the so-called threshold value determines the level to which an authenticator should accept verification by
which the algorithm produces a result.
<br><br>
No system or algorithm will be perfect, but also that we can do more than just define specific systems as functional or
non-functional, but measure their overall performance at different thresholds of acceptance rate to find the best
result. That being one way of going about the functionality of a system, improving the coded algorithms is another way.
Also mentioned by Vallance (2018) is the idea that biometrics in the human body are like ingrained patterns.
<br><br>
Though algorithms and computers excel when it comes to patterns, they can have difficulty depending on the design when
it comes to patterns that are similar to one another, which is when flaws in the system may occur. In these
fluctuations, the entire purpose of a system could be broken.
<br><br>
An example of this would be in allowing someone into a building. If the wrong person, specifically one with bad
intentions or which could cause potential harm or disruption to an organisation, is allowed in due to a flaw in the
system, the consequences could be severe.
<br><br>
<h2>Conclusion</h2>
<br>
When it comes to biometrics and technology, the field is broad with all of the different forms of biometric technology
providing their own benefits and usages which can be tailored to each implementation thanks to the various different
analyses of the human body that it has to offer.
<br><br>
But, with any technology comes the many issues discussed such as system security, data protection, algorithmic flaws and
more. In particular for such a complex and still in early development technology, the range of issues may be wider than
that as an example of the more traditional authentication method counterparts.
<br><br>
Depending on the importance of the situation for which the system is being used for, if one of these issues occurs it
can have detrimental effects on any of the involved parties. Especially from an ethical standpoint, as biometrics deals
with personal data, legal issues for its usages may be more apparent than by using a non-biometric alternative. Still,
it remains true that for any technology there will be flaws, and regardless, in many cases the negatives may not be as
prominent, with the positives outweighing such.
<br><br>
When it comes to positives, it is clear that each of the various biometrics provide a plethora of opportunities for new
technology which wouldn’t otherwise be possible, and if not at the very least can help to improve speed, efficiency and
ease of use. In situations where these factors are valued, or where the job would be in many ways unfeasible by any
other means, the answer lies certain regardless of any underlying issues that a biometric system is the best way to go,
especially given that it can aid in the promotion and development of the technology, allowing for greater reliability
and possibly many more new and better technologies.
<br><br>
When it comes to sources of information on the field however, depending on the ethical standpoint of an author, the view
may be overly or less so critical, which is important to take into consideration when it comes to looking at the future
of biometric technology. Still, at this stage of where the technology stands, I believe that it should be up to each
individual and organisation to decide for themselves their ethical standpoint and what they find important in a certain
system or piece of technology, not just because each usage case is individual, but because it seems we have a long way
to go in terms of developing a more useful, reliable and ethical biometric technology future.
<br><br><br><br>
<hr>
<br><br><br>
<h2> Bibliography </h2>
<br><br>
Douglas, A. (2020) - A Brief History of Biometrics
<a target="_blank"
    href="https://www.bioconnect.com/a-brief-history-of-biometrics/">https://www.bioconnect.com/a-brief-history-of-biometrics/</a>
(Accessed 17th April 2021)
<br><br>
Pato, J., Millet, L. (2010) Biometric Recognition: Challenges and Opportunities. Washington, D.C. The National Academies
Press
<br><br>
Jain, A., Ross, A., Pankanti, S. (June 2006) Biometrics: A Tool for Information Security. Institute of Electrical and
Electronic Engineers (IEEE)
<br><br>
Jain, A., Ross, A., Prabhakar, S. (January 2004) An Introduction to Biometric Recognition. Institute of Electrical and
Electronic Engineers (IEEE)
<br><br>
Vallance, P. (June 2018) Biometrics: A Guide. London. Government Office for Science
<br><br>
Edwards, C. (February 2014) - Ending identity theft and cyber crime. Biometric Technology Today
<br><br>
Lyon, D. (November 2008) Biometrics, Identification and Surveillance. Oxford. Blackwell Publishing Ltd.
<br><br>
Caldwell, T. (May 2013) Comment. Biometric Technology Today
<br><br>
Das, R. (2019) The Science of Biometrics. New York. Routledge
<br><br>
Gates, K. (2011) Our Biometric Future: Facial Recognition Technology and the Culture of Surveillance. New York. New York
University Press
<br><br>
Frowd, P (July 2018) Security at the Borders. Ottawa. Cambridge University Press
<br><br>
Zureik, E. Hindle, K. (March 2004) Governance, Security and Technology: the Case of Biometrics.
<br><br>
Routledge Al-Daraiseh, A., Hamid, H. (2015) Effectiveness of Iphone’s Touch ID: KSA Case Study. King Saud University.
IJASCA
<br><br>
Yanuschkevich, S., Wang, P., Gavrilova, M., Srihari, S. (2007) Image Pattern Recognition: Synthesis and Analysis in
Biometrics. Singapore. World Scientific Publishing
<br><br>
Bowyer, K. (2004) Facial Recognition Technology: Security versus Privacy. Institute of Electrical and Electronic
Engineers (IEEE)