* {
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    overflow: hidden;
}

/* BACKGROUND*/
body {
    height: 100vh;
    background: rgb(26, 26, 26);
}

/* FOOTER AT BOTTOM */
body {
    display: flex;
    flex-direction: column;
}

footer {
    padding: 8px;
    width: 100%;
    margin: 0;
    font-size: smaller;
}

main {
    /* ALLOW SCROLL */
    overflow-y: auto;
    /* NAV AT TOP */
    flex: 1;
    margin: 8px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-bottom: 72px;
}

.home-content {
    width: 100%;
}

::-webkit-scrollbar {
    /* HIDES DEFAULT SCROLLBAR */
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb:focus {
    background: transparent;
}

a,
a:visited {
    /* REMOVE LINK UNDERLINE */
    text-decoration: none;
}

nav {
    font-size: 1.2em;
    margin-top: 8px;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0;
    height: 100%;
}

nav ul li {
    padding: 0 2em;
    text-wrap: nowrap;
}

nav ul li a {
    font-weight: 400;
}

li a {
    color: #ffffff9c;
}

li a:hover {
    color: rgba(255, 255, 255, 0.873);
}

.active {
    color: #ffffff;
}

.active a::before {
    content: "<";
}

.active a::after {
    content: ">";
}

.nav-item {
    padding: 0;
}

.main-hr {
    width: 100%;
}

hr {
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.38);
    width: 100%;
}

.page-content {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 16px 32px 32px 32px;
    position: relative;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.section {
    width: 100%;
    max-width: 800px;
    margin: 16px 0;
}

.page-content {
    opacity: 0;
    animation: fadeIn .4s ease forwards;
}

.page-content.fade-in {
    opacity: 1;
}

.slide-in-right {
    animation-name: slideInRight;
}

.slide-in-left {
    animation-name: slideInLeft;
}

.slide-out-right {
    animation-name: slideOutRight;
}

.slide-out-left {
    animation-name: slideOutLeft;
}

.show-immediately {
    animation-name: showImmediately;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes showImmediately {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

#landing {
    display: flex;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

#landing-left {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 32px;
}

.pfp-container {
    width: 100%;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 8px;
    width: 70%;
    max-width: 140px;
    aspect-ratio: 1;
}

.pfp-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.pfp-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -2px 4px;
    transform: scale(1.4) rotate(-7deg);
    filter: brightness(85%) contrast(120%) grayscale(10%) sepia(15%);
}

#landing-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: start;
}

.info-container {
    padding: 10px 20px;
}

.bracket p {
    font-size: 3.5em;
    font-weight: 100;
    width: 20px;
}

.bracket {
    margin-top: 2%;
}

.name {
    font-size: 2em;
    margin-bottom: 4px;
    text-wrap: nowrap;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
}

.location-icon {
    padding-right: 8px;
    width: 16px;
    display: block;
}

.location-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-top: 16px;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials h3 {
    margin-bottom: 32px;
}

#social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.badge {
    padding-right: 16px;
    border-radius: 12px;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 36px 1fr;
    padding: 8px 6px 8px 12px;
    width: 120px;
    height: 28px;
}

.social-icon {
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 12px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    padding: 32px 24px;
    box-sizing: border-box;
}

.social-icon:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.icon-container {
    width: 28px;
    height: 28px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon p {
    font-size: 1.2em;
    padding-right: 4px;
}

.icon-container img {
    object-fit: cover;
    overflow: hidden;
}

.linkedin-logo {
    padding: 4px;
    box-sizing: border-box;
}

.quote-container {
    box-sizing: border-box;
    border-radius: 4px !important;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-content .quote {
    display: grid;
    grid-template-columns: 20px 1fr;
}

.dollar {
    display: flex;
    justify-content: center;
}

.home-content .quote-container p {
    padding: 8px;
    text-align: start;
}

.home-content .quote-container {
    border: 2px solid rgb(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin: 32px 0;
}

.home-content .quote {
    margin-left: 6px;
}

.home-content .quote-container p {
    font-family: 'Red Hat Mono';
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.home-content .quote-container p::after {
    content: "";
    width: 8px;
    height: 20px;
    background: white;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-4px);
    animation: cursor-blink 1.2s steps(1) infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.author {
    display: flex;
    justify-content: end;
    margin-top: 8px;
    font-size: .8em;
}

.intro {
    box-sizing: border-box;
    padding: 16px;
    line-height: 32px;
    text-align: justify;
    font-size: 1.1em;
}

.hr-splitter {
    margin-top: 40px;
}

.technologies {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}

.tech-group {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.group-header {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tech-badge {
    width: 140px;
    margin: 12px 0px;
    height: 40px;
    padding: 10px 16px;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.1);
}

.badge-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badge-name p {
    margin-right: 4px;
}

footer {
    display: flex;
}

.search-result {
    border-bottom: 1px solid rgba(255, 255, 255, 0.291);
    padding: 8px;
    width: 100%;
    max-width: 800px;
    margin-top: 12px;
}

.search-result p {
    padding: 16px;
}

.search-result:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
}

.article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

article {
    width: 100%;
    max-width: 900px;
    margin-bottom: 80px;
    margin: 0 16px;
}

article ul {
    padding: 0 32px;
}

article ol {
    padding: 0 16px;
}

article ol p {
    padding: 16px;
}

article li {
    width: 100%;
}

article h1 {
    text-transform: uppercase;
    line-height: 140%;
    text-align: center;
    padding: 0px 20px;
    margin-top: 12px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

article h3 {
    padding-left: 32px;
}

article ol li h2 {
    margin: 40px 0px;
}

article p {
    margin-top: 20px;
}

.list-marker {
    font-size: larger;
}

.code-snippet {
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 8px;
    max-width: 100%;
}

.code-snippet,
.code-embed {
    background-color: rgb(39, 39, 39);
    font-family: 'Red Hat Mono';
    overflow-x: scroll;
}

.code-embed {
    padding: 4px 8px;
    border-radius: 16px;
    font-size: smaller;
}

strong {
    font-weight: 500;
}

.projects-content {
    margin-top: 32px;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 28px;
    max-width: 800px;
    row-gap: 28px;
}

@media screen and (max-width: 768px) {

    .nav-link {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .9rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .name {
        font-size: 1.4em;
    }

    .badges {
        justify-content: center;
    }

    .badge {
        margin: 12px;
    }

    .social-icon {
        height: 40px;
        margin: 12px 0;
        width: 80%;
        max-width: 300px;
        min-width: 200px;
    }

    .social-icon .icon-container {
        margin-right: 60px;
    }

    .social-icon p {
        width: 100px;
    }


    #social-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .hr-splitter {
        margin-top: 20px;
    }

    .tech-badge {
        display: grid;
        width: 100%;
        justify-content: space-evenly;
        max-width: 200px;
        padding-left: 40px;
    }

    .location-icon {
        width: 12px;
    }

    .quote-container {
        padding: 8px !important;
    }

    .event-card .project-description {
        text-align: left !important;
    }

    .event-card {
        padding: 20px !important;
    }

}

@media screen and (max-width: 480px) {

    .intro {
        margin-top: 0;
        margin-bottom: 16px;
        padding: 4px;
        line-height: 24px;
    }

    .tags {
        visibility: collapse;
        height: 0;
    }

    #landing {
        margin: 16px;
        flex-direction: column;
    }

    #landing-left {
        margin: 16px 0;
        justify-content: center;
    }
}

.project-card {
    border: 1px solid rgb(255, 255, 255, 0.4);
    border-radius: 16px;
    padding: 12px 32px;
    font-size: smaller;
}

#repo-name {
    text-transform: uppercase;
}

.repo-description {
    height: 50px;
    font-size: small;
}

.project-card:hover {
    background-color: rgb(255, 255, 255, 0.05);
}

.project-card h2 {
    margin-bottom: 8px;
    margin-top: 8px;
}

.tags {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    padding: 8px;
    background-color: rgb(255, 255, 255, 0.1);
    width: fit-content;
    border-radius: 24px;
    font-size: smaller;
    margin-right: 8px;
    margin-bottom: 8px;
}

.timeline {
    margin-top: 32px;
}

.timeline .group-header {
    margin-bottom: 32px;
}

.timeline-container {
    border-top-left-radius: 16px;
    border-left: 4px solid rgb(132, 132, 132);
}

.timeline-main> :first-child {
    visibility: hidden;
}

.timeline-main> :nth-child(2) {
    margin-top: 0;
}

.marker {
    position: relative;
    transform: translate(-15px, 0px);
    width: 32px;
    height: 4px;
    background-color: rgb(132, 132, 132);
}

.event-card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border: 1px solid rgb(255, 255, 255, 0.4);
    border-radius: 16px;
    background-color: rgb(255, 255, 255, 0.05);
}

.event-title {
    font-weight: 500;
    margin-bottom: 4px;
}

.event-location {
    margin-bottom: 4px;
}

.event-date {
    font-size: small;
    font-style: italic;
}

.event-projects {
    list-style: circle;
    padding: 0;
}

.event-projects> :last-child.project {
    margin-bottom: 0;
}

.event-card hr {
    margin: 16px 0;
}

.event-card .project-title {
    margin: 4px 0;
    font-weight: 400;
}

.event-card .project {
    margin-bottom: 16px;
}

.event-card .project-description {
    font-size: smaller;
    line-height: 24px;
    text-align: justify;
}

.event-card,
.to-be-continued {
    margin: 24px 0px 24px 28px !important;
}

.event-card:hover {
    border-color: white;
    cursor: pointer;
}

.expanded-content {
    visibility: hidden;
    height: 0;
}