---
layout: layout.njk
title: Home
---
<div class="home-content page-content">
    <div id="landing" class="section">
        <div id="landing-left">
            <div class="pfp-container">
                <div class="pfp-inner">
                    <img src="res/images/pfp.jpg" alt="Close-up of my face">
                </div>
            </div>
        </div>
        <div id="landing-right">
            <div class="title-container">
                <div class="bracket bracket-left">
                    <p>{</p>
                </div>
                <div class="info-container">
                    <p class="name">SARA GARCIA</p>
                    <p>Backend Engineer</p>
                    <div class="location-container">
                        <div class="location">
                            <img class="location-icon" src="res/icons/home.svg" alt="Location pin icon.">
                            <span>UK</span>
                        </div>
                        <div class="location">
                            <img class="location-icon" src="res/icons/location.svg" alt="House icon.">
                            <span>Spain</span>
                        </div>
                    </div>
                </div>
                <div class="bracket bracket-right">
                    <p>}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="intro section">
        <p>
            Self-taught software engineer with a focus on building things that not only work well, but stay
            secure, flexible and maintainable. I enjoy problem-solving and making complex systems simple.
        </p>
    </div>
    <div class="socials section">
        <h3>Let's connect... </h3>
        <div id="social-icons">
            <a class="badge social-icon" target="_blank" href="https://github.com/saragarcia6123">
                <div class="icon-container github-logo">
                    <img src="res/icons/github.svg" alt="GitHub Logo.">
                </div>
                <p>GitHub</p>
            </a>
            <a class="badge social-icon" target="_blank" href="https://linkedin.com/in/saragarcia6123">
                <div class="icon-container linkedin-logo">
                    <img src="res/icons/linkedin.svg" alt="LinkedIn Logo.">
                </div>
                <p>LinkedIn</p>
            </a>
            <a class="badge social-icon" target="_blank" href="mailto:saragarcia6123@gmail.com">
                <div class="icon-container email-icon">
                    <img src="res/icons/email.svg" alt="Email icon.">
                </div>
                <p>Email</p>
            </a>
            <a class="badge social-icon" target="_blank" href="https://linktr.ee/saragarcia6123">
                <div class="icon-container linktree-logo">
                    <img src="res/icons/linktree.svg" alt="Linktree logo.">
                </div>
                <p>Linktree</p>
            </a>
        </div>
    </div>
    <div class="quote-container section">
        <div class="quote">
            <p class="dollar">$</p>
            <p>I’m not just about getting things to run;<br> I care about clean, efficient, and scalable solutions.</p>
        </div>
    </div>
    <div class="technologies section">
        {% for groupName, technologies in technologies.groups %}
        <div class="tech-group">
            <div class="group-header">
                &lt; {{ groupName | upper }} &gt;
            </div>
            <div class="badges">
                {% for tech in technologies %}
                <div class="badge tech-badge">
                    <div class="icon-container">
                        <img src="/res/icons/{{ tech | lower }}.svg" alt="{{ tech }} logo.">
                    </div>
                    <div class="badge-name">
                        <p>{{ tech }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    <div class="timeline section">
        <h3 class="group-header">
            &lt; TIMELINE &gt;
        </h3>
        <div class="timeline-container">
            <div class="timeline-main">
                {% for event in timeline.events %}
                <div class="marker"></div>
                <div class="event-card">
                    <h3 class="event-title">{{ event.title }}</h3>
                    <h4 class="event-location">{{ event.location }}</h4>
                    <p class="event-date">{{ event.from }} - {{ event.to }}</p>
                    <div class="expanded-content">
                        <hr>
                        <ul class="event-projects">
                            {% for project in event.projects %}
                            <div class="project">
                                <h4 class="project-title">{{ project.title }}</h4>
                                <p class="project-description">{{ project.description }}</p>
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
                <div class="marker"></div>
                <div class="quote-container to-be-continued">
                    <div class="quote">
                        <p class="dollar">$</p>
                        <p>To be continued...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>