---
layout: layout.njk
title: Home
---
<div class="home-content page-content">
    <div id="landing">
        <div id="landing-left">
            <div class="pfp-container">
                <div class="pfp-border">
                    <div class="pfp-inner">
                        <img src="res/images/pfp.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div id="landing-right">
            <div class="title-container">
                <div class="bracket bracket-left">
                    <p>{</p>
                </div>
                <div class="info-container">
                    <p class="name">SARA GARCIA</p>
                    <p>Software Developer</p>
                </div>
                <div class="bracket bracket-right">
                    <p>}</p>
                </div>
            </div>
            <div class="location-container">
                <div class="location">
                    <img class="location-icon" src="res/icons/home.svg">
                    <span>UK</span>
                </div>
                <div class="location">
                    <img class="location-icon" src="res/icons/location.svg">
                    <span>Spain</span>
                </div>
            </div>
        </div>
    </div>
    <div id="social-icons">
        <a class="badge social-icon" target="_blank" href="https://github.com/saragarcia6123">
            <div class="icon-container github-logo">
                <img src="res/icons/github.svg">
            </div>
            <p>GITHUB</p>
        </a>
        <a class="badge social-icon" target="_blank" href="https://linkedin.com/in/saragarcia6123">
            <div class="icon-container linkedin-logo">
                <img src="res/icons/linkedin.svg">
            </div>
            <p>LINKEDIN</p>
        </a>
        <a class="badge social-icon" target="_blank" href="mailto:saragarcia6123@gmail.com">
            <div class="icon-container email-icon">
                <img src="res/icons/email.svg">
            </div>
            <p>EMAIL</p>
        </a>
    </div>
    <hr class="hr-splitter">
    <div class="technologies">
        {% for groupName, technologies in technologies.groups %}
        <div class="tech-group">
            <div class="group-header">
                &lt; {{ groupName | upper }} &gt;
            </div>
            <div class="badges">
                {% for tech, level in technologies %}
                <a class="badge tech-badge level-{{ level }}">
                    <div class="icon-container">
                        <img src="/res/icons/{{ tech | lower }}.svg">
                    </div>
                    <div class="badge-name">
                        <p>{{ tech }}</p>
                        <p class="skill-level">
                            {% if level == 1 %}
                            ★
                            {% elif level == 2 %}
                            ★★
                            {% elif level == 3 %}
                            ★★★
                            {% endif %}
                        </p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="quote-container">
        <div class="quote">
            <p>"Whether it's Solidity or Scratch, in the end it's all just problem-solving."</p>
        </div>
        <div class="author">
            <p>- Me</p>
        </div>
    </div>
</div>